# Visual Studio
.vs/
*.user
*.suo

# Build
bin/
obj/

# NuGet
packages/

# Installer
InstallerOutput/

# Deploy output
deploy/server-files/updates/

# Databases
*.db
*.sqlite
*.sqlite3
*.db-wal
*.db-shm
*.db-journal

# Logs
*.log