# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build output
bin/
obj/

# NuGet
packages/

# Installer / Release
InstallerOutput/
deploy/

# Logs
*.log

# Windows
Thumbs.db
Desktop.ini

# Rider / ReSharper (nếu có)
_ReSharper*/
*.DotSettings.user

# Publish
Publish/

# Test Results
TestResults/